:root {
    --primary-color: #d35649;
    --primary-gray: #98a5a5;
    --primary-blue: #509bd7;
    --gray-footer: #1f1f1f;
    --gray-footer-btn: #444;
    --primary-purple: #575a89;
    --light-gray: #eee;
    ---color-white: #ffffff;
    --dark-footer: #000000;
}

body {
    margin: 0;
}


/*header*/

header {
    margin: 0;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
}

ul {
    list-style: none;
}

main {
    padding: 0;
    margin: -1.5% 0 0 0;
}


/*first-sectionin header*/

.logo {
    display: flex;
}

.nav {
    display: flex;
    width: 60%;
}

.event {
    text-decoration: none;
    padding: 20% 0 0 30%;
    color: var(---color-white);
    font-size: 30px;
}


/*second-section in header*/

.navbar {
    width: 50%;
    display: flex;
}

.navs {
    width: 60%;
}

.nav-item {
    display: flex;
    padding: 3% 10%;
    text-decoration: none;
}

.nav-link {
    padding-right: 10px;
    display: flex;
    text-decoration: none;
    color: var( ---color-white);
}

.nav-link>img {
    padding: 1% 30% 0 0;
}

.text-header {
    margin-left: 60%;
}

.nav-link>i {
    width: 80%;
    color: #ffffff;
    margin: 0 0 0 2%;
    padding: 1% 0 0 0;
}

a:hover,
i:hover {
    color: var(--primary-gray);
}


/*media*/

@media screen and (max-width:570px) {
    header {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .nave {
        display: flex;
    }
    .text-header {
        display: none;
    }
    .event {
        font-size: 30px;
        padding: 20% 0 0 0;
    }
    .nav-item {
        padding: 2% 19% 0 2%;
    }
    .nave>img {
        padding: 15% 0 0 50%;
        width: 35%;
    }
}


/*main*/


/*first-section-in-main*/

.light {
    padding: 0 0 10% 0;
    background-size: cover;
    background-image: url(../Images/group-1.jpg);
    text-align: center;
    background-position: center;
}

#lead {
    text-shadow: 2px 2px #1f1f1f;
    font-weight: bolder;
    padding: 5% 0 0 0;
    text-align: center;
    color: var(---color-white);
    text-transform: uppercase;
}

.form {
    margin: 0 0 0 22%;
    padding: 1% 0 1% 0;
    width: 55%;
    background-color: var(--light-gray);
    opacity: 0.7;
}

#search {
    text-transform: uppercase;
}

.input {
    padding: 2%;
    display: flex;
}

.form-control {
    width: 90%;
}

.btn {
    padding: 1% 2%;
    text-transform: uppercase;
    border: none;
    border-radius: 6%;
    background-color: var(--primary-color);
}

.work {
    margin: 2% 0 0 43%;
    padding: 0.1% 0;
    width: 10%;
    border-radius: 5%;
    background-color: var(--light-gray);
    opacity: 0.7;
}

.it {
    font-size: 12px;
}


/*media-in -first-section*/

@media screen and (max-width:570px) {
    .light {
        padding: 0;
    }
    .form {
        width: 50%;
        padding-bottom: 1%;
    }
    #search {
        padding: 4% 0 0 0;
        font-size: 14px;
    }
    .input {
        padding: 12% 0;
        margin-left: 7%;
        display: flex;
        flex-direction: column;
    }
    .btn {
        opacity: 1;
        width: 90%;
        color: var(---color-white);
    }
    .work {
        width: 20%;
        margin: 10% 0 0 38%;
    }
}


/*second-section-in-main*/

.four {
    padding: 2%;
    color: var(--primary-color);
    text-align: center;
}

.col {
    display: flex;
    padding: 2%;
}

.step {
    display: flex;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.for {
    width: 50%;
}

.icon-little i {
    color: var(--dark-footer);
}

.go {
    padding-top: 5%;
}

.fr {
    width: 60%;
    padding: 0 0 0 10%;
}

.simple {
    font-size: 14px;
}


/*media*/

@media screen and (max-width:570px) {
    .steps {
        display: none;
    }
}


/*third-section-in-main*/

.events {
    justify-content: space-between;
    display: flex;
    background-color: var(--primary-color);
    color: var(---color-white);
    padding: 0 1% 0 3%;
}

.mage {
    padding: 3%;
    width: 20%;
}

.find {
    padding: 1% 1% 1% 2%;
    width: 15%;
    background-color: var(---color-white);
    color: var(--primary-color);
}

.connect {
    justify-content: space-between;
    display: flex;
    background-color: var(--primary-gray);
    color: var(---color-white);
    padding: 0 1% 0 3%;
}

.finds {
    padding: 1% 0 1% 2%;
    width: 25%;
    background-color: var(---color-white);
}

.finds a {
    text-decoration: none;
    color: var(--primary-color);
}

.love {
    justify-content: space-between;
    display: flex;
    background-color: var(--primary-blue);
    color: var(---color-white);
    padding: 0 1% 0 3%;
}

p {
    padding: 3% 0;
}

.mage>img {
    border-radius: 50%;
}

.evente,
.connects,
.loves {
    display: none;
}


/*media*/

@media screen and (max-width:570px) {
    .events,
    .love,
    .connect {
        display: none;
    }
    .evente {
        padding: 1% 10% 12% 20%;
        color: var(---color-white);
        background-image: url(../Images/Untitled\ design.png);
        background-size: cover;
        display: block;
    }
    .connects {
        padding: 1% 10% 12% 25%;
        color: var(---color-white);
        background-image: url(../Images/Untitled\ design\ \(4\).png);
        background-size: cover;
        display: block;
    }
    .loves {
        padding: 1% 8% 10% 8%;
        color: var(---color-white);
        background-image: url(../Images/Untitled\ design\ \(5\).png);
        background-size: cover;
        display: block;
    }
    .resize {
        padding: 15% 0 10% 10%;
    }
    .finde {
        padding: 0 0 5% 0;
        color: var(--primary-color);
    }
}


/*footer*/


/*first-in -footer*/

.main-footer {
    background-color: var(--dark-footer);
    padding-top: 50px;
}

.location {
    margin: 0 0 0 24%;
    width: 50%;
    padding: 0.9%;
    background-color: var(--dark-footer);
    display: flex;
    border-top: solid 1px var(---color-white);
    border-bottom: solid 1px #fff;
    position: relative;
}

.icon-link {
    font-size: 12px;
    padding: 2%;
    color: var(---color-white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}

.icon-box {
    width: 66px;
    background-color: #000000;
}

.icon-box::before {
    display: block;
    content: "";
    height: 83px;
    width: 83px;
    transform: translateX(-4px);
    background-color: var(--dark-footer);
    background-position-y: center;
    top: -32%;
    right: 43.5%;
    background-position: center;
    border-radius: 50%;
    position: absolute;
}

.icon-box::after {
    display: block;
    content: "";
    height: 70px;
    width: 70px;
    background-image: url(../Icones/mapsnavbar_icon.svg);
    background-color: var(--dark-footer);
    background-position-y: center;
    top: -25%;
    right: 45%;
    background-position: center;
    background-size: cover;
    border: solid 1px #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.face {
    margin-left: 9%;
}

.contact {
    padding: 7% 0 1% 7%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
}

.subscription {
    width: 30%;
}

.subscribe {
    color: var(---color-white);
    text-transform: capitalize;
}

.form-controle {
    padding: 1.5%;
    background-color: var(--dark-footer);
}

.b-tn {
    margin: 0 0 0 -1.2%;
    padding: 2%;
    background-color: var(--gray-footer-btn);
    color: var(---color-white);
}

.paragraphe {
    color: var(---color-white);
}

.link {
    text-decoration: none;
    color: var(--primary-color);
}

.about {
    width: 50%;
}


/*second-in-footer*/

.sub-footer {
    padding: 0 0 0 5%;
    color: var(---color-white);
    justify-content: space-between;
    display: flex;
    background-color: var(--gray-footer);
}

.social-icon {
    width: 50%;
    padding: 2% 0 0 0;
}

.links {
    padding-left: 2%;
    color: var(---color-white);
    text-decoration: none;
}

i {
    color: var(---color-white);
}

.main-footer>.subscription>a:hover {
    text-decoration: underline !important;
}

@media screen and (max-width: 570px) {
    .main-footer {
        display: none;
    }
    .text {
        font-size: 10px;
    }
    .social-icon .fa-brands {
        padding: 2% 5% 0 0;
    }
}